<!doctype html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="ConectorHealth" />
	<meta property="og:site_name" content="ConectorHealth" />
	<title>Test</title>
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/custom.css" rel="stylesheet" type="text/css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		<script src="/assets/js/api.js"></script>
	</head>

	<body>
		<button onclick="btnClick()"  class="w-50 mt-5">
			Login
		</button>

		<script>
			function btnClick() {
				// console.log("OK");
				let data = {
					name: "KKKK",
					password: "OOOO"
				};
				sendRequestWithToken("POST", null, data, 'login/login', (response, error) => {
					let result = JSON.parse(response.responseText);
					console.log(result)
				})
			}
		</script>
	</body>
</html>
